
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import school theme */



@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 14.9%;
    --card: 0 0% 96.1%;
    --card-foreground: 0 0% 25.1%;
    --popover: 0 0% 96.1%;
    --popover-foreground: 0 0% 14.9%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 213.8 100% 96.9%;
    --secondary: 0 0% 89.8%;
    --secondary-foreground: 0 0% 25.1%;
    --accent: 330.4 81.2% 60.4%;
    --accent-foreground: 327.3 73.3% 97.1%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 32.2%;
    --destructive: 0 73.7% 41.8%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 0 0% 89.8%;
    --input: 0 0% 83.1%;
    --ring: 198.6 88.7% 48.4%;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

